<ekisa-sdk-media-stream
  [options]="{
    enterWithAudio: false,
    enterWithVideo: true,
    video: {
      width: 1280,
      height: 768,
      framesColor: '#ffc0cb',
      objectFit: 'contain'
    },
    controls: {
      showAudio: true,
      audioHint: 'Enable / disable audio',
      showVideo: true,
      videoHint: 'Enable / disable video',
      showSnapshot: true,
      snapshotHint: 'Take a snapshot',
      position: 'bottom'
    },
    snapshot: {
      audioSrc: '../assets/sounds/camera-shutter.mp3',
      animate: true
    }
  }"
  objectFit="contain"
  (initialized)="onInitialized($event)"
  (trackChanged)="onTrackChanged($event)"
  (snapshotTaken)="onSnapshotTaken($event)"
  (catchError)="onCatchError($event)"
></ekisa-sdk-media-stream>

<img [src]="image" alt="" class="mx-auto mt-16" width="400" height="400" />
