<ekisa-sdk-media-stream
  [audio]="true"
  [video]="true"
  [options]="{
    enterWithAudio: false,
    enterWithVideo: true,
    video: {
      width: 1280,
      height: 768,
      framesColor: '#ffc0cb',
      objectFit: 'contain'
    },
    controls: {
      showAudio: true,
      audioHint: 'Enable / disable audio',
      showVideo: true,
      videoHint: 'Enable / disable video',
      showSnapshot: true,
      snapshotHint: 'Take a snapshot',
      position: 'bottom'
    }
  }"
  objectFit="contain"
  (initialized)="onInitialized($event)"
  (trackChanged)="onTrackChanged($event)"
  (catchError)="onCatchError($event)"
></ekisa-sdk-media-stream>
